@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Shell.Client.Bootstrap3.Layouts.Renderings.Bootstrap3.Forms.Bootstrap3Radios.Bootstrap3RadioRenderingModel
@{
  Model.Class = Model.IsInline ? "radio-inline" : "radio";
  Model.DataBind.IsVisible();
}              
@if (Model.IsInline)
{
  <label @Model.HtmlAttributes>
    <input type="radio" value="@Model.Value" @Html.Sitecore().AttributeIf(Model.IsChecked, "checked", "checked") @Html.Sitecore().Attribute("name", Model.Name) @Html.Raw(Model.DataBindAttribute().IsEnabled().IsChecked())>
    @Html.Sitecore().Translate(Model.Text)
  </label>
}
else
{
  <div @Model.HtmlAttributes>
    <label>
      <input type="radio" value="@Model.Value" @Html.Sitecore().AttributeIf(Model.IsChecked, "checked", "checked") @Html.Sitecore().Attribute("name", Model.Name) @Html.Raw(Model.DataBindAttribute().IsEnabled().IsChecked())>
      <span @Html.Raw(Model.DataBindAttribute().Text())>
        @Html.Sitecore().Translate(Model.Text)
      </span>
    </label>
  </div>
}